html {
    margin: 0px;
    font-size: 3vw;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    min-height: 640px;
}

#div-logo {
    position: relative;
    background: #555555;
    color: #000000;
    height: 18vh;
    text-align: center;
    overflow: hidden;

}

#txt-logo {
    color: #ffffffb4;
    font-family: 'Loved by the King', cursive;
    font-size: 48px;
    font-weight: 400;
    text-shadow: 5px 5px 10px #ff00ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    white-space: nowrap;

}

#fb {
    background-image: url("media/fb.jpg");
    background-size: 55px 55px;
    width: 55px;
    height: 55px;
    background-position: center;
    background-repeat: no-repeat;
    
}

#fb:hover {
    width: 55px;
    height: 55px;
    background-image: url("media/fb-active.jpg") no-repeat;
    
}

#linkedin {
    background-size: 55px 55px;
    background-image: url("media/linkedin-grey.png") no-repeat;

    
}

#linkedin:hover {
    background-image: url("media/linkedin-active.png") no-repeat;
    
}

.tooltip .tooltipfb {
    visibility: hidden;
    width: 55px;
    height: 55px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    position: relative;
    z-index: 1;
}

.tooltip:hover .tooltipfb {
    visibility: visible;
}