html {
    margin: 0px;
    font-size: 3vw;
}

body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100vw;
    min-height: 640px;
}

#div-logo {
    position: relative;
    background: #555555;
    color: #000000;
    height: 18vh;
    text-align: center;
    overflow: hidden;

}

#txt-logo {
    color: #ffffffb4;
    font-family: 'Loved by the King', cursive;
    font-size: 4em;
    font-weight: 400;
    text-shadow: 5px 5px 10px #ff00ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    white-space: nowrap;

}

nav {
    position: relative;
    background: #afafaf;
    color: #ffffff;
    min-height: 5vh;
    padding: 5px;
}

ul {
    display: none;
}


.menu {
    width: 35px;
    height: 4px;
    background: black;
    margin: 6px;
}

nav:hover {
    background: #ff0000;
}

main {
    position: relative;
    background: #555555;
    color: #ffffff;
    height: 55vh;
}

h2 {
    text-align: center;
    margin: 0px;
}



footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #afafaf;
    color: #ffffff;
    height: 75px;
    padding: 5px;
    font-family: robota;
    font-size: 12px;

}

div.footer1 {
    position: relative;
}

p.footer1 {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    
}

